<launch>
  <arg name="with_teb"   default="true"/>
  <!-- Gmapping -->
  <include file="$(find eai_gazebo)/launch/includes/gmapping.launch.xml">
    <arg name="scan_topic" value="scan"/>
  </include>

  <!-- Move base -->
  <include file="$(find eai_gazebo)/launch/includes/move_base.launch.xml">
    <arg name="teb_move_base"   default="$(arg with_teb)"/>  
  </include>

  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
</launch>
